body{
  font-size: 17px;
  color: white
}





/* header */

header img{
  position: fixed;

}

#header{
  z-index: 10;
  width: 100%;
  position: fixed !important;
  background-color: rgba(229, 231, 232, 0.3);
  padding-left: 20%;
  padding-top: 0.5%;
}

#logo{
  float: left;
}

#logo h5 b{
  font-size: 22px;
}

#headerMenu{
  margin-right: 20%;
  font-size: 18px;
  padding-top: 1%;
  text-align:center;
  cursor: pointer;
}

#headerMenu a:hover{
  color: #1e2023;
}

#headerMenu:after{
  content: "";
  display: table;
  clear: both;
}

#headerMenu div{
  float: right;
  margin-right: 8%;
}

#headerMenu div a{
  color: white;
  text-decoration: none;
}

#headerTextBox{
  width: 55%;
  margin-left: 25%;
  position: relative;
  padding-top: 10%;
}

#hireButton{
  background: none;
  border: none;
  width: 170px;
  height: 50px;
  margin-top: 20px;
  background-color: green;
  border-radius: 5px;
}





/* Projekte */

#projekte{

  width: 100%;
  height: 1000px;
  background-color: #1e2023;
  margin-top: 350px;
  position: relative;
  overflow: hidden;
}

.projekt{
  float:left;
  height: 500px;
  border: 1px solid #383c43;
  border-right: none;
  cursor: pointer;
  perspective: 480px;
  overflow: hidden;

  white-space: nowrap;
}

.projekt1Size{
  width: 25%;
  padding-left:6%;
}

.projekt2Size{
  width: 50%;
  padding-left: 15%;
}

.projekt:hover{
  border:none;
  background-color: gray;
}

.projekt p{
  color: white;
  font-size: 50px;

}

.cube{
  position: absolute;

}

.cube-front{
  top: 80px;
  transition: top 1s, opacity 1s;


}

.cube-bottom{
  transition: 2s all;
  top: 450px;
  opacity: 0;
}



/* Kontakt */

#kontakt{
  padding-top: 200px;
  margin-bottom: 2%;
  position: relative;
  width: 100%;
  height: 900px;
  text-align:center;

}

#kontakt p{
  margin-top:4%;
}

#kontaktBox{
  margin-top: 8%;
  margin-left: 25%;
}


#kontaktBox li{
  height: 200px;
  width: 200px;
  margin-left: 5%;
  float:left;
  list-style: none;
}

.kontaktIcon{
  height: 100px;
  width: 100px;
  background-color: gray;
  border-radius: 50%;
  margin-left: 51px;
  padding-top: 35px;
}

.kontaktauswahl:hover{
  cursor: pointer;
  border:  2px solid white;
}



/*=========================
         Heroku HTML
=========================*/

#herokuSite{
  height: 3000px;
  position: relative;
  padding-top: 5%;
  padding-left: 20%;
}


#herokuProjekte{
  margin-top: 6%;
  width: 80%;
  height: 200px;
}

.herokuBildschirm{
  width: 20%;
  position: absolute;
  z-index: 0;
  float: left;
}


.herokuProjekt{
  margin-left: 8px;
  margin-top: 10px;
  width: 365px;
  height: 190px;
  position: relative;
  z-index: 1;
  float: left;
  cursor: pointer;
}

.herokuProjektBeschreibung{
  padding-left: 25px;
  float:left;
}










/* footer */

footer{
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1e2023;
  position: relative;
  text-align: center;
}

footer p{
  padding-top: 20px;
}
